<!DOCTYPE html>
<html lang="es">
    <head>
        <% include ./include/partials/head %>
        <!-- scripts -->
        <!-- iconos font awesome -->
        <script src="https://use.fontawesome.com/fcfd0a87ec.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div id="snackbar"></div>
        <% include ./include/partials/nav %>
        <div class="filtro cont">
            <section class="cont--slogan">
                <div class="slogan">
                    <h3>
                        Encuentra a tu <strong>mascota</strong>
                        <br>
                        perdida o ayuda a una a
                        <br>
                        encontrar su hogar
                    </h3>
                    <span>Porque las mascotas son los mejores amigos</span>

                    <a href="/registro">Regístrate</a>
                </div>
                <div class="logo">
                    <img src="img/img-A.png" alt="logo helpet">
                </div>
            </section>
        </div>
        <% include ./include/modals/login-modal %>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/user.js"></script>
        <script type="text/javascript">
            user.init();
        </script>
    </body>
</html>
