<!DOCTYPE html>
<html lang="es">
    <head>
        <% include ./include/partials/head %>
        <!-- scripts -->
        <!-- iconos font awesome -->
        <script src="https://use.fontawesome.com/fcfd0a87ec.js"></script>
    </head>
    <body>
        <div id="snackbar"></div>
        <% include ./include/partials/nav %>
        <div class="filtro cont">
            <section class="cont--slogan">
                <ul class="slogan__elemt">
                    <div class="slogan">
                        <h3 class="slogan__title">
                            Encuentra a tu <span class="slogan__title--bold">mascota</span>
                            <br>
                            perdida o ayuda a una a encontrar su hogar
                        </h3>
                        <span class="slogan__subtitle">Porque las mascotas son los mejores amigos</span>
    
                        <a href="/registro">Regístrate</a>
                    </div>
                    <div class="logo">
                        <img src="img/img-A.png" alt="logo helpet">
                    </div>
                </ul>
            </section>
        </div>
        <% include ./include/modals/login-modal %>
        <script src="dist/js/main.min.js"></script>
        <script type="text/javascript" src="dist/js/main.min.js"></script>
        <script type="text/javascript" src="dist/js/user.min.js"></script>
        <script type="text/javascript">
            user.init();
        </script>
    </body>
</html>
