<!DOCTYPE html>
<html lang="es">
    <head>
        <% include ./include/partials/head %>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="css/perdido.css">
        <!-- scripts -->
        <!-- iconos font awesome -->
        <script src="https://use.fontawesome.com/fcfd0a87ec.js"></script>
    </head>
    <body>
        <% include ./include/partials/nav %>
        <% include ./include/modals/login-modal %>
        <div class="cont cont--inicio">
            <div class="cont--tarjetas">
                <div class="content">
                    <% include ./include/partials/list-posts %>
                </div>
            </div>
            <div class="cont--mapa">
                <div id='map'></div>
            </div>
        </div>
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
        <script src="js/main.js"></script>
        <script src="js/posts.js"></script>
        <script src="js/mapbox.view.js"></script>
        <script type="text/javascript" src="js/user.js"></script>
        <script>
            user.loginForm();
            const postView = new PostView();
            const mapboxView = new MapboxView({
                el: "map",
                token: "pk.eyJ1IjoiYW5nZWxyb2Rybzk1IiwiYSI6ImNqODljcTJrdDAxaWIyd21rNTZubHQwamMifQ.6ghwymwGfrRC15-iKOxcww"
            });
            mapboxView.fetchPostTypeMap(0);
            postView.initTabs(mapboxView);
        </script>

    </body>
</html>
