<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HELPET - perdido</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- estilos -->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/componentes.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/perdido.css">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
        <!-- scripts -->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
        <script src="js/main.js"></script>
        <link rel="stylesheet" href="css/seltc.css">
        <script src="https://use.fontawesome.com/fcfd0a87ec.js"></script>
    </head>
    <body>
        <!-- Inicio de menu -->
        <% include ./include/partials/nav %>

        <!-- Final de inicio -->
        <section class="cont cont--inicio">
        <!-- inicio de formulario -->
            <div class="cont--formulario">
                <% include ./include/partials/post %>

            </div>
        <!-- Final de formulario -->
        <!-- Inicio del mapa -->
            <div class="cont--mapa">
                <div id='map'></div>
            </div>
        <!-- Final del mapa -->
        </section>
        
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
        <script src="js/mapbox.view.js"></script>
        <script>
            const mapboxView = new MapboxView('map');
            mapboxView.initAddMarkerEvent();
        </script>
        <script type="text/javascript" src="js/seltc.custom.js"></script>
        <script>
            const seltc = new Seltc({
                url:"/features/list"
            });
        </script>


    </body>
</html>