<div class="modal cerrar-modal" id="modalIniciarSesion">
    <div class="modal__box modal--inicio-sesion cerrar-modal">
        <div class="modal-header">
            <h3 class="titulo"></h3>
            <button type="button" class="btnCerrarModal" onclick="cerrarModal(this)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-6 img-promo">
                <img src="img/img-dog.png" alt="helpet inicio de sesion">
                <span class="slogan">Ayudalo a ser encontrado y encuentra a tu mascota</span>
            </div>
            <form id="form-login" class="col-6" action="">
                <h3 class="titulo">INICIAR</h3>
                <div class="form-input">
                    <label for="inputEmail">Correo</label>
                    <input type="text" name="email" id="inputEmail">
                </div>

                <div class="form-input">
                    <label for="inputPassword">Contraseña</label>
                    <input type="password" name="password" id="inputPassword">
                </div>

                <div class="form-submit">
                    <button class="frm--btm" type="submit" id="btnLogIn">Aceptar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
