<div class="conteiner-register">
    <div class="modal-register" id="bg-register">
        <div class="info-register">
            <div class="header-register">
                <h1>REGISTRATE</h1>
                <p id="close-register">X</p>
            </div>
            <div class="body-register">
              <form action="" method="POST" id="register-form">
                  <input type="text" name="name" placeholder="&#128100; Nombre" required autofocus>
                  <input type="text" name="lastname" placeholder="&#128100; Apellido" required>
                  <input type="text" name="email" placeholder="&#9993; E-mail" required>
                  <input type="text" name="phone"placeholder="&#128222; Celular" required>
                  <input type="password" name="password" placeholder="&#128272; Contraseña" required>
                  <div class="btn-register">
                  </div>
                  <button type="submit" name="button">REGISTRARSE</button>
              </form>
            </div>
        </div>
    </div>
</div>
