<nav class="navbar <% if(path!="/") { %> navbar--inicio <% } %>">
        <div class="navbar__logo">
            <% if(path=="/") { %>
                <a href="/"><img src="img/ico-logo.png" alt="logo helpet"></a>
            <% }else{ %>
                <a href="/"><img src="img/ico-logov.png" alt="logo helpet"></a>
            <% } %>
        </div>
        <ul class="navbar__menu">
            
            <% if(!user) { %>
                <li>
                    <button type="button" onclick="abrirModal('modalIniciarSesion')">Inicia</button>
                </li>
                <li>
                    <a href="/registro">Regístrate</a>
                </li>
            <% }else { %>
                <li>
                    <a href="/publicacion" id="new-post">Nuevo post</a>
                </li>
                <li class="navbar_nombre">
                    <a href=""><%= user.name %> <%= user.lastname %></a>
                </li>
                <li>
                    <a href="/logout">Cerrar sesión</a>
                </li>
            <% } %>
            
        </ul>
    </nav>
