<div class="slogan">
    <h3 align="center">NUEVA PUBLICACION</h3>
</div>
<div class="formulario--img">
    <div class="imgcuadro cuadro--px">
        <img id="img-selected" src="https://assets.vetary.com/static/seo_content/dog-hero-placeholder.6113f56e2b3b.jpg" alt="">
    </div>
</div>
<div class="form-submit">
    <input name="photo" style="display:none" type="file" id="file-image">
    <button class="frm--btm add-photo" onchange="document.getElementById('img-selected').src = window.URL.createObjectURL(this.files[0])" >Agregar foto</button>
</div>
<div class="fromneet">
    <div class="form-input input--register">
        <textarea placeholder="Descripcion" cols="70" rows="30" ></textarea>
    </div>    
</div>
<div class="fromneet">
    <div class="form-input input--register">
        <input type="text"  name="address" placeholder="Direccion" >
    </div>    
</div>

<div>
    <div class="form-input input--register">
        <input type="text" class="selectize-input" name="features" placeholder="" >
    </div>
</div>
<div class="cleck--flex">
    <label class="cleck--flex">
        <div class="field--input">
            <input name="type" type="radio" value="lost">
        </div>
            <span>Perdido</span>
    </label>
    <label class="cleck--flex">
        <div class="field--input">
            <input name="type" type="radio" value="found">
        </div>
            <span>Encontrado</span>
    </label>
</div>
<div class="opcion">
    <div class="form-submit">
        <button class="frm--btm" type="submit">Aceptar</button>
    </div>
</div>

